.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
ft_mallocator/
libft/obj/
libft/debugobj/
libft/libft.a
libft/libft.a.debug
mlx/obj/
mlx/libmlx*
mlx/test/*.o
mlx/test/mlx-test
obj/
debugobj/
connect4
connect4.debug
connect4_bonus
connect4_bonus.debug
